        #m_login {
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.9);
            z-index: 1000;
            position: fixed;
            display: none;
        }

        #login {
            width: 358px;
            height: 534px;
            background: #fff;
            border: 1px solid #d9d9d9;
            margin: 0 auto;
            margin-top: 150px;
        }

        #login p.button {
            width: 11px;
            height: 11px;
            margin-left: 340px;
        }

        #login p.first {
            width: 306px;
            height: 23px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 3px;
            margin: 0 auto;
            margin-top: 40px;
            padding-left: 4px;
        }

        #login p a {
            font-size: 12.5px;
            color: #93b68c;
        }

        #login p span {
            margin-left: 212px;
            color: #989797;
        }

        #login img {
            margin-left: 337px;
            margin-top: 8px;
        }

        #login ul li.txt1 {
            font-size: 13px;
            margin-top: 50px;
            color: #676666;
            letter-spacing: -1px;
            margin-left: -40px;
        }

        #login ul li.txt2 {
            font-size: 13px;
            margin-top: 19px;
            color: #676666;
            letter-spacing: -1px;
            margin-left: -40px;
        }

        input[type="text"],
        input[type="password"] {
            width: 308px;
            height: 30px;
            background: #e7e7e7;
            border: none;
            margin-left: -40px;
            text-align: left;
            margin-top: 7px;
            outline: 0;
        }

        li.btn {
            width: 308px;
            height: 45px;
            background: #73916b;
            color: #fff;
            text-align: center;
            line-height: 45px;
            font-size: 14px;
            margin-top: 21px;
            margin-left: -15px;
        }

        #search p {
            font-size: 13px;
            margin-top: 27px;
            color: #222;
            letter-spacing: -1px;
        }

        #box p {
            display: inline-block;
        }

        #box a p.naver {
            width: 145px;
            height: 38px;
            background: url(images/naver.jpg)no-repeat 12px center;
            border: 1px solid #ddd;
            margin-top: 45px;
            text-align: center;
            line-height: 38px;
            font-size: 13px;
            letter-spacing: -0.5px;
            color: #222;
        }

        #box a p.cacao {
            width: 145px;
            height: 38px;
            background: url(images/cacao.jpg)no-repeat 12px center;
            border: 1px solid #ddd;
            margin-top: 45px;
            text-align: center;
            line-height: 38px;
            font-size: 13px;
            letter-spacing: -0.5px;
            color: #222;
        }

        #box a p.face {
            width: 145px;
            height: 38px;
            background: url(images/facebook.jpg)no-repeat 12px center;
            border: 1px solid #ddd;
            margin-top: 10px;
            text-align: center;
            line-height: 38px;
            font-size: 13px;
            letter-spacing: -0.5px;
            color: #222;
        }

        #box a p.google {
            width: 145px;
            height: 38px;
            background: url(images/google.jpg)no-repeat 12px center;
            border: 1px solid #ddd;
            margin-top: 10px;
            text-align: center;
            line-height: 38px;
            font-size: 13px;
            letter-spacing: -0.5px;
            color: #222;
        }


        #modal {
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.9);
            z-index: 1000;
            position: fixed;
            display: none;
        }

        div.search {
            width: 1560px;
            height: 45px;
            background: #fff;
            position: absolute;

            margin: 0 auto;
            left: 50%;
            top: 20%;
            transform: translate(-50%, -50%);
            border-bottom: 3px solid #73916b;
        }

        div.search p {
            display: inline-block;
            margin: 0 auto;
        }



        [placeholder] {
            color: #222;
            font-size: 18px;
        }

        input[type="search"] {
            width: 1525px;
            height: 40px;
            background: #fff;
            outline: 0;
            border: none;
            margin: 0 auto;
        }

        div.search p.button {
            width: 20px;
            height: 18px;
            background: #fff;
            vertical-align: middle;
        }

        input::-webkit-search-cancel-button {
            display: none;
        }
